<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Details</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      margin-top: 20px;
    }

    table {
      width: 80%;
      margin: 0 auto;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    th, td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
  </style>
</head>
<body>
  <h1>CartItems Details</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Order ID</th>
        <th>Product Id</th>
        <th>Quantity</th>
        
      </tr>
    </thead>
    <tbody>
      <% cartItems.forEach(items => { %>
        <tr>
          <td><%= items.id %></td>
          <td><%= items.order_id %></td>
          <td><%= items.product_id %></td>
          <td><%= items.quantity%></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
